* {
    box-sizing: border-box;
}

body {
    background-image: url('../img/fondo.png');
    
}

/*Títulos y encabezados*/

h1, h2, h3, h4 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  
}
  
h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
    background-color: rgba(199, 199, 199, 0.863);
    color: rgb(1, 9, 66);
}


h4 {
    font-size: 1.5rem;
  
}    

/*Contenedor*/

.contenedor-principal {
    max-width: 1150px;
    margin: auto;
    background-color: rgb(98, 161, 197);
    text-align: center;
    padding: 1%;
}

/*Lista*/

.lista-conceptos li { 
    display: block;
    list-style-type: none;
    font-size: 1.2rem;
    text-align: justify;
    
}

/*Videos*/
iframe {

    display: block;
    margin: 2rem auto;
    width: 40rem;
    height: 30rem;
    max-width: 100%;
        
}
    
.discos { 
    display: flex;
    justify-content: center;
}

/*Imágenes*/
img {
    margin-top: 1%;
    margin-right: auto;
    margin-bottom: 1%;
    margin-left: auto;
    height: auto;          
    border-radius: 2%;  
    max-width: 100%;  
}

.imagenes  {  /*acomoda el contenido del div, centra y alinea las imágenes*/
    display: flex;
    justify-content: center;
}

.laurie {
    display: flex;
    justify-content: center;
}

.laurie img {
    width: auto;
    height: 18rem;
    margin: 1rem;
       
}

/*Secciones*/
section p, article p {
    font-size: 1.2rem;
    text-align: justify;
    padding: 1.5%;
    
}

/*Menú de navegacion*/
nav ul {
    margin: 5%;
    padding: 0%;
    list-style-type: none;
    
}

nav li {
   display: inline-block;
   
      
}


nav a {
   text-decoration: none;
   font-size: 1.2rem;
   padding: 1.5rem;
   text-align: center;
   background-color: rgb(230, 209, 184);
    
} 

/*Links*/
nav a:link {
    color: #ffffff;
    background-color: #43047e;
}

nav a:visited {
    color: #000000;
    background-color: #c3c4c5;
}

nav a:hover {
    color: #ffffff;
    background-color: #9f54eb;
}

nav a:active {
    color: #ffffff;
    background-color: #073ea5;
}

/*Pie de página*/
footer {
    text-align: center;
    font-size: 1.2rem;
    padding: 5%;
    
}  
